.textarea {
  width: 350px;
  height: 40px;
  border: 1px solid #aaa;
  border-radius: 4px;
  margin-left: 10px;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  font-size: 20px;
  transition: 0.3s;
}
.textarea:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}
.textarea::placeholder {
  font-size: 20px;
}
.textarea2 {
  width: 230px;
  height: 40px;
  border: 1px solid #aaa;
  border-radius: 4px;
  margin-left: 10px;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  font-size: 15px;
  transition: 0.3s;
}

.fa-circle-xmark {
  font-size: 100px;
  font-weight: 200;
  color: red;
  margin-left: 100px;
}
.fa-circle-check {
  font-size: 100px;
  font-weight: 200;
  color: #39da54;
  margin-left: 110px;
}
input[type="datetime-local"] {
  width: 35px;
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
