* {
  z-index: 5;
}
.create-container {
  padding: 1px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1688507383637-78f49f095269?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80");
  background-size: cover;
  border-radius: 5px;
}
.icon {
  width: 40px;
  height: auto;
  color: white;
  cursor: pointer;
  margin-left: 43%;
  position: absolute;
  margin-top: -300px;
}
.title {
  color: white;
  font-size: 60px;
}
.description {
  color: white;
  font-size: 20px;
}
.update-container {
  padding: 1px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1689194581129-8d6bc190cb1a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80");
  background-size: cover;
  border-radius: 5px;
}
.title2 {
  color: rgb(114, 112, 112);
  font-size: 60px;
}
.label {
  font-size: 28px;
  font-weight: 600;
}
.task-content {
  font-size: 35px;
  color: rgb(72, 74, 81);
  text-shadow: 2px 2px 2px #1e83d6;
}
i {
  cursor: pointer;
}
