@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600&family=Roboto+Slab&family=Source+Sans+3&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --background-color: #efdcd5;
}
.confirm-delete {
  font-size: 100px;
  font-weight: 200;
  color: red;
  margin-left: 100px;
}
.confirm-finish {
  font-size: 100px;
  font-weight: 200;
  color: #39da54;
  margin-left: 110px;
}
